/* General Blueprint Style */
@import url(http://fonts.googleapis.com/css?family=Lato:400,700);
@font-face {
	font-family: 'fontello';
	font-weight: normal;
	font-style: normal;
	src: url('../fonts/fontello/fontello.eot');
	src: url('../fonts/fontello/fontello.eot?#iefix') format('embedded-opentype'),
	url('../fonts/fontello/fontello.woff') format('woff'),
	url('../fonts/fontello/fontello.ttf') format('truetype'),
	url('../fonts/fontello/fontello.svg') format('svg');
} /* Made with http://icomoon.io/ */

/* Resets */
*,
*:after,
*:before {
	box-sizing: border-box;
}

html {
	overflow-y: scroll;
}

body,
html {
	font-size: 100%;
	margin: 0;
	padding: 0;
	height: 100%;
}

/* Helper classes */
.cf:before,
.cf:after {
	content: ' ';
	display: table;
}

.cf:after {
	clear: both;
}

.hidden {
	position: absolute;
	opacity: 0;
	pointer-events: none;
}

/* Main styles */
body {
	font-family: "Avenir", 'Helvetica Neue', 'Lato', 'Segoe UI', Helvetica, Arial, sans-serif;
	color: #CECECE;
	background: #222125;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	text-decoration: none;
	color: #5C5EDC;
	outline: none;
}

a:focus {
	color: #ddd;
}

a:hover {
	color: #fff;
}

/* Blueprint header */
.bp-header {
	width: 100%;
	margin: 0 auto;
	padding: 3em 3em 0;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.bp-header h1 {
	font-size: 2.125em;
	font-weight: 400;
	line-height: 1.3;
	margin: 0 0 .6em 0;
}

.bp-header h1 > span {
	font-size: 50%;
	display: block;
	color: #4D4D5A;
}

.bp-header > span {
	width: 100%;
	font-weight: 700;
	font-size: 0.85em;
	color: #5C5EDC;
	position: relative;
	z-index: 100;
	display: block;
	padding: 0 0 .6em .1em;
	letter-spacing: .5em;
	text-transform: uppercase;
}

.bp-header > span span:after {
	font-size: 50%;
	font-size: 75%;
	position: relative;
	top: -8px;
	left: -12px;
	width: 30px;
	height: 30px;
	cursor: help;
}

#site-info-button:hover:before{
	content: attr(data-content);
	font-size: 110%;
	font-weight: 700;
	line-height: 1.2;
	max-width: 500px;
	position: absolute;
	left: auto;
	margin-left: 4px;
	padding: .8em 1em;
	text-align: left;
	text-indent: 0;
	letter-spacing: 0;
	text-transform: none;
	color: #fff;
	background: #5C5EDC;
}

#site-info {
	display: none;
}

.bp-header nav {
	position: relative;
	z-index: 100;
	margin: -2em 0 0 auto;
}

.bp-header nav a {
	position: relative;
	display: inline-block;
	width: 2.5em;
	height: 2.5em;
	margin: 0 .1em;
	text-align: left;
	border-radius: 50%;
}

.bp-header nav a > span {
	display: none;
}

.bp-header nav a:hover:before {
	content: attr(data-info);
	color: #595A5F;
	font-weight: bold;
	font-size: 0.85em;
	position: absolute;
	top: 120%;
	right: 0;
	width: 600%;
	text-align: right;
	pointer-events: none;
}

.bp-header nav a:hover {
	background: #5C5EDC;
}

.bp-icon:after {
	font-family: 'fontello';
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	text-align: center;
	text-transform: none;
	color: #5C5EDC;
	speak: none;
	-webkit-font-smoothing: antialiased;
}

.bp-header nav .bp-icon:after {
	line-height: 2.4;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-indent: 0;
}

.bp-header nav a:hover:after {
	color: #fff;
}

.bp-icon-next:after {
	content: '\e000';
}

.bp-icon-drop:after {
	content: '\e001';
}

.bp-icon-archive:after {
	content: '\e002';
}

.bp-icon-about:after {
	content: '\e808';
}

.bp-icon-twitter:after {
	content: '\e800';
}

.bp-icon-heart:after {
	content: '\e80b';
}

.bp-icon-email:after {
	content: '\e801';
}

.bp-icon-prev:after {
	content: '\e004';
}

.bp-icon-child:after {
	content: '\e811';
}

.bp-icon-close:after {
	content: '\e80e';
}

#close_profile {
	position: absolute;
	right: -13px;
	top: -20px;
	font-size: 30px;
	opacity: 1;
}

#close_profile:after {
	color: white;
}

.content__item-inner h2,h3{
	text-align: center;
}

.content__item-center {
	text-align: center;
}

.content__item-justify {
	text-align: justify;
}

.content__item-left {
	text-align: left;
}

.content__item-right {
	text-align: right;
}

.content__item-img-center {
	display: block;
	margin-right: auto;
	margin-left: auto;
	max-width: 80%;
	margin-top: 50px;
	margin-bottom: 50px;
}

.content__item-img-fill-width {
	display: block;
	margin-right: 0;
	margin-left: 0;
	margin-top: 50px;
	margin-bottom: 50px;
	width: 100%;
}

.content__item-img-right {
	display: block;
	margin-right: 0;
	margin-left: auto;
	max-width: 80%;
	margin-top: 50px;
	margin-bottom: 50px;
}

.content__item-img-left {
	display: block;
	margin-right: auto;
	margin-left: 0;
	max-width: 80%;
	margin-top: 50px;
	margin-bottom: 50px;
}

.footer {
	color: #7c7c7c;
	opacity: 1;
	text-align: center;
	font-weight: 100;
	margin-top: 70px;
	margin-bottom: 10px;
	font-size: 13px;
}

.footer > p > a {
	color: white;
	font-weight: bolder;
	opacity: 1;
}

#section_title {
	margin-top: 60px;
}

.meeru_services {
	list-style: none;
	font-family: 'fontello';
	font-size: 100px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: 10px;
	margin: 0px !important;
}

.meeru_features {
	list-style: none;
	display: flex;
	text-align: center;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 10px;
	margin: 0px !important;
	font-size: 1.25em;
}

.meeru_features > li {
	margin-top: 10px;
}

.meeru_services > li {
	margin: 0 10px 0 10px;
}

.ted {
	color: red;
	font-family: 'Helvetica';
	font-weight: bolder;
}

.video-container {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
	margin-top: 50px;
}

#coming_soon {
	width: 30%;
	margin-top: 30px;
}

a.centerbutton {
	border-style: solid;
	padding: 10px;
	text-align: center;
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
}

.footnote {
	margin-top: 50px;
	font-size: 12px;
	text-align: left;
}


.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

.slide__title > a {
	color: white;
}

.zoomer__image, .preview, .slide__title {
	cursor: pointer;
	cursor: hand;
}

#site-info {
	font-size: 110%;
	font-weight: 700;
	line-height: 1.2;
	max-width: 500px;
	margin-left: 4px;
	padding: .8em 1em;
	margin-bottom: 10px;
	text-align: center;
	text-indent: 0;
	letter-spacing: 0;
	color: #fff;
	background: #5C5EDC;
	display: none;
}

@media screen and (max-width: 50em) {
	#site-info-button:hover:before{
		display: none;
	}

	#site-info {
		text-align: left;
	}
}

@media screen and (max-width: 40em) {
	.bp-header {
		text-align: center;
	}
	.bp-header > span {
		text-indent: 30px;
	}
	#site-info-button:hover:before{
		display: none;
	}
	#site-info {
		text-align: center;
	}
	.bp-header h1 {
		font-size: 1.8em;
		width: 100%;
	}
	.bp-header nav {
		margin: 0;
		width: 100%;
	}

	.meeru_services {
		font-size: 50px;
	}

	#coming_soon {
		width: 50%;
		margin-top: 30px;
	}

	.slider {
		padding: 0 0 10%;
	}

	.slide {
		top: 0;
	}

	.slider__nav  {
		position: relative;
		padding-top: 10px;
		padding-bottom: 20px;
		margin-bottom: 10px;
		margin-top: 20px;
		bottom: 0;
	}
}

@media screen and (max-width: 20em) {
	.bp-header {
		text-align: center;
	}
	.bp-header > span {
		text-indent: 22px;
		font-size: 0.7em;
		letter-spacing: .4em;
	}
	.bp-header > span span:hover:before {
		right: 0px;
	}
	.bp-header h1 {
		font-size: 1.8em;
		width: 100%;
	}
	.bp-header nav {
		margin: 0;
		width: 100%;
	}
}

.profile {
	z-index: 0;
	display: flex;
	flex-direction: row;
	align-content: center;
	align-items: center;
	justify-content: center;
	visibility: hidden;
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
}

#profile_card_parent {
	visibility: hidden;
}

#profile_card.card.hovercard {
	-webkit-animation-duration: 0.9s;
	-moz-animation-duration: 0.9s;
	animation-duration: 0.9s;
}

.card {
	visibility: 'hidden';
	width: 280px;
	z-index: 0;
    padding-top: 20px;
    margin: 0px 0 20px 0;
    background-color: rgba(214, 224, 226, 0.2);
    border-top-width: 0;
    border-bottom-width: 2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card .card-heading {
    padding: 0 20px;
    margin: 0;
}

.card .card-heading.simple {
    font-size: 20px;
    font-weight: 300;
    color: #777;
    border-bottom: 1px solid #e5e5e5;
}

.card .card-heading.image img {
    display: inline-block;
    width: 46px;
    height: 46px;
    margin-right: 15px;
    vertical-align: top;
    border: 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.card .card-heading.image .card-heading-header {
    display: inline-block;
    vertical-align: top;
}

.card .card-heading.image .card-heading-header h3 {
    margin: 0;
    font-size: 14px;
    line-height: 16px;
    color: #262626;
}

.card .card-heading.image .card-heading-header span {
    font-size: 12px;
    color: #999999;
}

.card .card-body {
    padding: 0 20px;
    margin-top: 20px;
}

.card .card-media {
    padding: 0 20px;
    margin: 0 -14px;
}

.card .card-media img {
    max-width: 100%;
    max-height: 100%;
}

.card .card-actions {
    min-height: 30px;
    padding: 0 20px 20px 20px;
    margin: 20px 0 0 0;
}

.card .card-comments {
    padding: 20px;
    margin: 0;
    background-color: #f8f8f8;
}

.card .card-comments .comments-collapse-toggle {
    padding: 0;
    margin: 0 20px 12px 20px;
}

.card .card-comments .comments-collapse-toggle a,
.card .card-comments .comments-collapse-toggle span {
    padding-right: 5px;
    overflow: hidden;
    font-size: 12px;
    color: #999;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card a:hover {
	color: rgba(92, 94, 220, 0.5);
}

.card-comments .media-heading {
    font-size: 13px;
    font-weight: bold;
}

.card.people {
    position: relative;
    display: inline-block;
    width: 170px;
    height: 300px;
    padding-top: 0;
    margin-left: 20px;
    overflow: hidden;
    vertical-align: top;
}

.card.people:first-child {
    margin-left: 0;
}

.card.people .card-top {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 170px;
    height: 150px;
    background-color: #ffffff;
}

.card.people .card-top.green {
    background-color: #53a93f;
}

.card.people .card-top.blue {
    background-color: #427fed;
}

.card.people .card-info {
    position: absolute;
    top: 150px;
    display: inline-block;
    width: 100%;
    height: 101px;
    overflow: hidden;
    background: #ffffff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card.people .card-info .title {
    display: block;
    margin: 8px 14px 0 14px;
    overflow: hidden;
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
    color: #404040;
}

.card.people .card-info .desc {
    display: block;
    margin: 8px 14px 0 14px;
    overflow: hidden;
    font-size: 12px;
    line-height: 16px;
    color: #737373;
    text-overflow: ellipsis;
}

.card.people .card-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    display: inline-block;
    width: 100%;
    padding: 10px 20px;
    line-height: 29px;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card.hovercard {
	padding-top: 0;
    text-align: center;
    background-color: white;
}

.card.hovercard .cardheader {
    background-size: cover;
    height: 135px;
}

.card.hovercard .avatar {
    position: relative;
    top: -50px;
    margin-bottom: -50px;
}

.card.hovercard .avatar img {
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255,255,255,0.5);
}

.card.hovercard .info {
    padding: 4px 8px 10px;
}

.card.hovercard .info .title {
    margin-bottom: 4px;
    font-size: 24px;
    line-height: 1;
    color: #262626;
    vertical-align: middle;
}

.card.hovercard .info .desc {
    overflow: hidden;
    font-size: 12px;
    line-height: 20px;
    color: #737373;
    text-overflow: ellipsis;
	margin-top: 20px;
	padding: 0 20px;
}

.card.hovercard .bottom {
    padding-bottom: 30px;
	padding-top: 10px;
}

.btn{ border-radius: 50%; width:32px; height:32px; line-height:18px;  }
